* {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #333;
}

.b {
  border: 1px solid red;
}

body {
  background: #fff;
}

footer {
  width: 100%;
  height: 50px;
  padding: 0px 10px;
  left: 0;
  bottom: 0;
  position: fixed;
  background: #fff;
  border-top: 1px solid #eee;
}

.foot {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.foot li {
  flex: 1;
}

.foot li a {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 8px;
  color: #c81622;
  text-align: center;
}

.foot li a div {
  font-size: 11px;
  text-align: center;
}

.foot li a div img {
  width: 18px;
  height: 18px;
  margin: 0 auto;
  display: block;
}

.foot li a .active {
  color: #47d9c2;
}

.foot-blank {
  height: 50px;
}
.searchBox .searchInput {
  margin: 0;
}

.searchBox {
  width: 100%;
  padding: 10px 15px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchBox .searchInput {
  width: 90%;
  height: 40px;
  background: #eff2f7;
  border-radius: 20px;
  margin: 10px auto;
  text-align: center;
  border: none;
}

#search {
  width: 50px;
  height: 100%;
  color: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-input-placeholder {
  color: #aaa;
  font-size: 14px;
}

.titleBox {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 10px 0;
}

.title {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.title::before {
  content: " ";
  width: 3px;
  height: 15px;
  margin-right: 8px;
  display: inline-block;
  background: #36b5eb;
}

.titleTip {
  font-size: 14px;
  color: #777;
}

.bookBox {
  padding: 0 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.bookThumbnail {
  width: 28%;
  overflow: hidden;
  margin-bottom: 10px;
}

.bookImg {
  width: 100%;
  display: block;
  height: auto;
}

.bookName {
  width: 100%;
  color: #333;
  font-size: 14px;
  line-height: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bookAuthor {
  width: 100%;
  color: #777;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hover {
  background: #fafafa;
}
