.depositTip {
  padding: 20px;
  background: #edf0f7;
  font-size: 14px;
  color: #777;
}

.depositTip div a {
  color: #3ccac8;
}

.changeSchool {
  width: 110px;
  height: 34px;
  margin-top: 15px;
  background: #3ccac8;
  color: #fff;
  border: none;
}

.schoolList li {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #f0f0f0;
  padding: 0 20px;
  font-size: 14px;
}

.schoolTitle {
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #f0f0f0;
  padding: 0 20px;
  font-size: 16px;
}
