.outTimeTip {
  width: 85%;
  margin: 40px auto;
}

.outTimeTip img {
  width: 40%;
  margin: 30px auto;
  display: block;
}

.outTimeTip p {
  text-align: center;
  color: #777;
  font-size: 14px;
}

.phone {
  margin-top: 30px;
}

.phone li {
  width: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone li div {
  font-size: 12px;
  color: #158edf;
}

.phone li div.name {
  width: 120px;
}
